* {
  margin: 0;
  padding: 0;
  font-size: xx-large;
}

html {
  text-align: center;
  background-color: steelblue;
}

body {
  padding: 0.5rem;
  font-size: larger;
}

footer .fa {
  color: white;
  float: left;
  padding: 0.5rem 0 0.5rem 0.5rem;
}

.footer {
  display: inline-block;
  border-radius: 10px;
  margin-top: 1em;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
