.GuessesLeft {
  text-align: center;
  display: inline-block;
  color: white;
  cursor: default;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  .GuessesLeft {
    padding: 0.3rem;
  }
}
